body {
  display: block !important;
  visibility: visible !important;
}

div[id="nav"],
div[id="blpromo"],
div[class*="logo-"],
a[href="javascript:;"],
div[class="google-footer-bar"] {
  display: none !important;
  visibility: hidden !important;
}

[role="button"],
[role="menuitem"] {
  cursor: pointer !important;
}

#views {
  height: 300%;
}

.extra-compose-class {
  border-radius: 3px !important;
  border-color: #D8382C !important;
  border: solid 4px #D8382C !important;
}

.extra-compose-class:nth-child(1) {
  background-color: #D8382C !important;
}

.extra-gmail-class {
  opacity: 80% !important;
  filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
}

.extra-gmail-buttons {
  border-radius: 3px !important;
  background-color: #7A7A7A !important;
  border: solid 4px #7A7A7A !important;
}